<nav class="navPartial">
    <div class="navelems">
        <span class="navSpan">
            <a href="/home" class="">HOME</a>
            <a href="/home/index" class=""> All Methods</a>
            <a href="/home/index/new">Create a new method</a>
        </span>

        <ul class="right">
            <% if (currentUser) { %>
                <li style="padding-right:15px;">Welcome
                     <%= currentUser.username.charAt(0).toUpperCase() + currentUser.username.slice(1)  %></li>
                <li>
                    <form action="/sessions?_method=DELETE" method="POST">
                        <button class="navUsers" id="logout">Log out</button>
                    </form>
                </li>
            <% } else { %>
                <li class="navUsers"><a href="/sessions/new">Log In</a></li>
                <li><a class="navUsers" href="/users/new">Sign Up</a></li>
            <% } %>
            <li><button type="button" name="button">Dark mode</button></li>
        </ul>

    </div>
</nav>


<!-- history.go(-1)  simulated back button -->

<!-- <a href="link" onclick="history.go(-1)"> Text </a> -->
