<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <body>

        <nav>
            <%- include('./partials/nav.ejs') %>
        </nav>
        <h1>New System</h1>
        <form action="/home/index" method="POST">
            Name:<input type="text" name="name" value=""><br>
            Did it work?<input type="checkbox" name="didItWork" value=""><br>
            My Rating:<input type="number" name="myRating" min="0" max="5" value=""><br>
            Results:<input type="text" name="results" value=""><br>
            Notes:<input type="text" name="notes" value=""><br>

            <input type="submit" name="" value="Add">
        </form>
    </body>
</html>
