* {

}
/* nav----------------------------------------------------------------------- */
.navPartial {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    background-color: rgba(0,0,0, 0.6);
    border-radius: 20px;
    border: 2px solid silver;
    color: white;
    text-shadow: 0 0 10px blue;
    font-size: 19px;
    padding: 10px;
    height: 100px;
}
.navelems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right {
    display: flex;
    flex-direction: column;
    margin-left: 580px;
}
.navSpan {
    display: flex;
    flex-direction: column;
}

/* home page----------------------------------------------------------------- */
.homeBody {
    width: 100vw;
    height: 100vh;
    background-image: url(https://cdn.wallpapersafari.com/55/37/UBf9aw.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.homeDiv {
    margin: auto;
    width: 90%;
    background-color: rgba(0,0,0, 0.6);
    border-radius: 20px;
    border: 2px solid silver;
    color: white;
    text-shadow: 0 0 10px blue;
    font-size: 19px;
    padding: 10px;
}
/* index page-----------------------------------------------------------------*/
.indexBody{
    width: 100vw;
    height: 100vh;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d1/Glenwood_Canyon.jpg);
    background-size: cover;
}

.indexTable {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    background-color: rgba(0,0,0, 0.6);
    border-radius: 20px;
    border: 2px solid silver;
    color: white;
    text-shadow: 0 0 10px blue, 0 0 20px cyan;
    font-size: 19px;
    padding: 10px;
}
#name {
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
}
.indexButton {
    margin-left: 100px;
}
/* edit page------------------------------------------------------------------*/
.editBody {
    width: 100vw;
    height: 100vh;
    background-image: url(https://eyesofodysseus.files.wordpress.com/2013/05/wpid-clouds_reflection-seamless.jpeg);
    background-size: cover;

}
.editH1 {
    color: white;
}

.editForm {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    background-color: rgba(0,0,0, 0.6);
    border-radius: 20px;
    border: 2px solid silver;
    color: white;
    text-shadow: 0 0 10px blue, 0 0 20px cyan;
    font-size: 19px;
    padding: 10px;
}

.editForm > label {
    font-size: 28px;
    padding: 12px;

}
.editSubmit {
    margin-left: 130px;
    margin-bottom: 15px;
}
.editSubmit:hover{
    background-color: lime;
}

.editResults{
    width: 385px;
}
.editNotes {
    width: 300px;
}
/* new page ------------------------------------------------------------------*/
.newBody {
    width: 100vw;
    height: 100vh;
    background-image: url(https://wallpaperstock.net/wallpapers/thumbs1/49338wide.jpg);
    background-size: cover;
}

.newForm {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    background-color: rgba(0,0,0, 0.6);
    border-radius: 20px;
    border: 2px solid silver;
    color: white;
    text-shadow: 0 0 10px blue, 0 0 20px cyan;
    font-size: 19px;
    padding: 10px;
}

.newForm > span {
    font-size: 28px;
    padding: 12px;
}

.addSubmit {
    margin-left:100px;
    margin-top: 5px;
    padding: 2px;
}

.addSubmit:hover {
    background-color: lime;
}
/* sessions-------------------------------------------------------------------*/
.loginBody {
    width: 100vw;
    height: 100vh;
    background-image: url(https://i.gifer.com/origin/de/de447e55ad7287aab0e53d83a074aba2.gif);
    background-size: cover;
}
.loginform {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    background-color: rgba(0,0,0, 0.6);
    border-radius: 20px;
    border: 2px solid silver;
    color: white;
    text-shadow: 0 0 10px blue, 0 0 20px cyan;
    font-size: 19px;
    padding: 10px;
}
.loginSubmit{
    margin-left: 90px;
}
.loginSubmit:hover {
    background-color: lime;

}
/* users.new */
.userBody {
    width: 100vw;
    height: 100vh;
    background-image: url(https://media1.giphy.com/media/l1J9M7qq3YVzWFdzq/giphy.gif);
    background-size: cover;
}
.userForm{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    background-color: rgba(0,0,0, 0.6);
    border-radius: 20px;
    border: 2px solid silver;
    color: white;
    text-shadow: 0 0 10px blue, 0 0 20px cyan;
    font-size: 19px;
    padding: 10px;
}
.userSubmit{
    margin-left: 90px;
}
.userSubmit:hover {
    background-color: lime;
}


/* All------------------------------------------------------------------------*/
a {
    color:white;
}
a:hover {
    color: lime;
}
button {
    border-radius: 5px;
    background-color: lightblue;
}
button:hover {
    background-color: lime;
}
#delete:hover {
    background-color: red;
}
#logout:hover {
    background-color: red;
}
tr:hover {
    background-color: rgba(255,255,255, 0.3);
}
