<%- include('../partials/head.ejs') %>
<body class="userBody">

<%- include('../partials/nav.ejs') %>

<!-- users.new -->

    <main>


        <form action="/users" method="POST" class="userForm">
            <h4>New User Page</h4>

            <label>
                <span>Username:</span>
                <input type="text" name="username" />
            </label> <br><br>

            <label>
                <span>Password:</span>
                <input type="password" name="password" />
            </label>
            <br>
            <br>
            <input class="userSubmit" type="submit" value="Create User" />
        </form>

    </main>

<%- include('../partials/footer.ejs') %>

</body>
